html *{
    -webkit-font-smoothing: antialiased;
}

h1,
.h1 {
  font-size: 3.3125rem;
  line-height: 1.15em;
}

h4 {
    font-size: 1.125rem;
    line-height: 1.5em;
  }

p {
  font-size: 20px;
  margin: 0 0 10px;
  padding: 5px 0;
  text-align: center;
}

.profile-page .page-header {
    height: 380px;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}

.header-filter:before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background: rgba(0,0,0,.5);
}

.main-raised {
    margin: -60px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.main {
    background: #FFF;
    position: relative;
    z-index: 3;
}

.profile-page .profile {
    text-align: center;
}

.profile-page .profile img {
    max-width: 175px;
    width: 100%;
    margin: 0 auto;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

.img-raised {
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

img.rounded {
    border-radius: 6px!important;
}

.rounded-circle {
    border-radius: 50%!important;
}

.title {
    margin-top: 25px;
    margin-bottom: 25px;
    min-height: 32px;
    color: #2e3a4b;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-page .description {
    margin: 1.071rem auto 0;
    max-width: 600px;
    color: rgb(0, 0, 0);
    font-weight: 300;
}

.profile-page .profile .name{
  margin-top: -80px;
}

.profile-page .stats ul>li b {
    font-size: 1.1em;
    color: #3c4858;
}

.profile-page .stats ul>li {
    padding: 5px 0;
    font-size: 1.5em;
    font-weight: 300;
    color: #3c4858;

}