<!-- <div class="container" id="divBackground">
    <nav class="navbar is-fixed-top easinToFrame" id="navbarStyles" role="navigation"
        aria-label="Navigation Bar main page">
        <div class="navbar-brand">
            <a class="navbar-item" href="index.html">
                <img src="./assets/images/logo.png" height="120px" width="0px">
            </a>
        </div>
        <div class="navbar-menu ">
            <div class="navbar-start">
                <img class="navbar-item baseTransform" id="navItemStyles" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles1" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles2" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles3" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles4" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles5" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles6" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles7" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles8" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles9" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles10" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles11" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles12" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles13" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles14" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles15" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles16" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles17" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles18" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles19" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles20" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles21" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles22" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles23" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles24" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles25" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles26" src="./assets/images/light.png" width="100px"
                    height="100px">
                <img class="navbar-item" id="navItemStyles27" src="./assets/images/light.png" width="100px"
                    height="100px">
            </div>
        </div>
    </nav>
    <div class="container">
        <div align="" class="container" id="MenuPosition">
            <br />
            <br />
            <br />
            <br />
            <aside id="menuStyles" class="menu">
                <ul class="menu-list positionMenu">
                    <li class="menu-item-hover-color"><a id="pageSelectStyles">Page 1</a></li>
                    <li><a id="pageSelectStyles">Page 2</a></li>
                    <li><a id="pageSelectStyles">Page 3</a></li>
                    <li><a id="pageSelectStyles">Page 4</a></li>
                    <li><a id="pageSelectStyles">Page 5</a></li>
                    <li><a id="pageSelectStyles">Page 5</a></li>
                    <li><a id="pageSelectStyles">Page 6</a></li>
                </ul>
            </aside>
        </div>
        <p align="center" class="animateSlideIn" id="oneOfMainHeaders">Fitness made better</p>
        <hr />
        <div id="pieGraphDiv" class="is-hidden-mobile">
            <div>
                <p id="sampleText">This is some test output. <br />
                    I really <strong>don't</strong> know what else to write here</p>

            </div>
            <img class="hover-glow" src="./assets/images/pi.png">
        </div>
    </div>
</div> -->
<div class="container">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="index.html">
                <img src="./assets/images/logo.png">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
            <div class='navbar-start'>
                <a href="/home" class="nav-link navbar-item" routerLink="home">Home </a>
                <a href="/user" class="nav-link navbar-item" *ngIf="isLoggedIn" routerLink="user">User</a>
            </div>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
            <div class='navbar-end'>
                    <a href="/register" class="navbar-item" routerLink="register">Sign Up</a>
                    <a href="/login" class="navbar-item" routerLink="login">Login</a>
            </div>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
            <div class='buttons'>
                    <a href="/profile" class="nav-link button is-primary navbar-item" routerLink="profile">{{ email }}</a>

                    <a href class="nav-link navbar-item" (click)="logout()">LogOut</a>
            </div>
        </ul>
    </nav>
</div>

<div class="container">

    <div class="container">
        <p align="center" class="animateSlideIn" id="oneOfMainHeaders">Fitness made better</p>
        <hr />

        <!-- <div id="pieGraphDiv" class="is-hidden-mobile">
            <div>
                <p id="sampleText">This is some test output. <br />
                    I really <strong>don't</strong> know what else to write here</p>

            </div>
            <img class="hover-glow" src="./assets/images/pi.png">
        </div> -->
    </div>

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
            <div class='buttons'>
                    <a href class="nav-link button is-primary navbar-item" routerLink="login">{{ email }}</a>
                    <a href class="nav-link navbar-item" routerLink="bloodpressure">BloodPressure</a>
                    <a href class="nav-link navbar-item" routerLink="profile">Calories</a>
                    <a href class="nav-link navbar-item" routerLink="profile">Routes</a>
                    <a href class="nav-link navbar-item" routerLink="profile">Weights</a>
            </div>
        </ul>
    </nav>

    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>