<div style="background-color: #404040;">
  <nav class="navbar is-fixed-top" style="background-color: #009933;"role="navigation" aria-label="Navigation Bar main page">
      <div class="navbar-brand">
          <a class="navbar-item" href="index.html">
              <img src="styles/images/logo.png" width="100px" height="100px">
          </a>
      </div>
      <div class="navbar-menu">
          <div class="navbar-start">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
              <img class="navbar-item" style="transform: rotate(-87deg);" src="styles/images/light.png" width="100px" height="100px">
          </div>
      </div>
  </nav>
  <div align="right">
      <h1 style="color: white;">Fitness made better</h1>
  </div>
  <aside style="width: 10%;" class="menu">
      <hr/>
      <p class="menu-item-active-background-color">Pages</p>
      <hr/>
      
      <ul  class="menu-list">
          <li><a style="color: white;">Page 1</a></li>
          <li><a style="color: white;">Page 2</a></li>
          <li><a style="color: white;">Page 3</a></li>
          <li><a style="color: white;">Page 4</a></li>
          <li><a style="color: white;">Page 5</a></li>
          <li><a style="color: white;">Page 6</a></li>
      </ul>
  </aside>
  <div align="center">
      <h3 style="color: white; size: 12em;">Fitness made better</h3>
      <img src="styles/images/pi.png" width="40%" >
  </div>
</div>