<div id="backgroundColor">
  <nav class="navbar is-fixed-top easinToFrame" id="navbarStyles" role="navigation" aria-label="Navigation Bar main page">
      <div class="navbar-brand">
          <a class="navbar-item" href="index.html">
              <img src="./assets/images/logo.png"  height="150px">
          </a>
      </div>
      <div class="navbar-menu ">
          <div class="navbar-start ">
            <img class="navbar-item" id="navItemStyles" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles2" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles3" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles2" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles2" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles3" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles2" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles2" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles2" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles2" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles2" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles2" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles2" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles2" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles3" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles2" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles2" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles3" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles2" src="./assets/images/light.png" width="100px" height="100px">
            <img class="navbar-item" id="navItemStyles" src="./assets/images/light.png" width="100px" height="100px">
          </div>
      </div>
  </nav>
  <div align="right">
      <h1 style="color: white;">Fitness made better</h1>
  </div>
  <div id="MenuPosition">
  <aside id="menuStyles" class="menu">
      
      <p id="pageSelectStyles"><br/>Please select a page</p>
      <ul  class="menu-list positionMenu">
          <li class="menu-item-hover-color"><a id="pageSelectStyles">Page 1</a></li>
          <li><a id="pageSelectStyles">Page 2</a></li>
          <li><a id="pageSelectStyles">Page 3</a></li>
          <li><a id="pageSelectStyles">Page 4</a></li>
          <li><a id="pageSelectStyles">Page 5</a></li>
          <li><a id="pageSelectStyles">Page 5</a></li>
          <li><a id="pageSelectStyles">Page 6</a></li>
      </ul>
  </aside>
</div>
  <div id="pieGraphDiv" >
      <p id="oneOfMainHeaders">Fitness made better</p>
      <img class="hover-glow" src="./assets/images/pi.png" width="70%" >
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</div>