@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
#navbarStyles{
    background-color: #009933;
}
#backgroundColor{
    background-color: #404040;
    margin: 0;
    padding: 0;
}
#navItemStyles{
    transform: rotate(-87deg);
    animation: blink normal 4s infinite ease-in-out;
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
}
#menuStyles{
    width: 10%;
}
#pageSelectStyles{
    color: white;
    font-family: 'Pacifico', cursive;
}
#oneOfMainHeaders{
    color: white; 
    font-size: 3em;
    font-family: 'Pacifico', cursive;
}
#MenuPosition{
    position: relative;
    left: .75%;
}
#HrStyles{
    color: white;
}
#pieGraphDiv{
    position: absolute;
    right: 0;
    top: 0px;
}