<div class="container" id="chart">
    <svg></svg>

    <div class="container">
        <section class="section">
        <div class="container">
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="container">
              <label class="label" for="username">Heart Rate</label>
              <input type="text" class="control" name="username" [(ngModel)]="form.heartrate" required #heartrate="ngModel" />
              <div class="alert alert-danger" role="alert" *ngIf="heartrate.errors && f.submitted">
                Heart Rate is required!
              </div>
            </div>
            <div class="container">
              <button class="btn btn-primary btn-block">
                Submit
              </button>
            </div>
            <div class="container">
              <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isSubmitFailed">
                Submit failed: {{ errorMessage }}
              </div>
            </div>
          </form>
        </div>
        </section>
      </div>
</div>
