html, body {
  height: 100%;
}

#full-route-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

/* LEFT */

#left {
  grid-column: 1;
  margin: 1rem;
}

#routes {
  width: 20rem;
  height: 51.5rem;
  margin-left: auto;
  border: 2px solid black;
  overflow: auto;
}

#routes .box {
  width: 17rem;
  height: 5rem;
  font-size: 120%;
  padding-top: 1.5rem;
  border: 2px solid black;
}

.route-icon {
  max-height: 120%;
  max-width: 120%;
  border-radius: 30%;
  border: 2px solid black;
  padding: 5px;
  float: right;
  margin-top: -0.25rem;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 12px;              
}

::-webkit-scrollbar-track {
  background: whitesmoke;               
  box-shadow: inset 0 0 10px lightgray;      
  border-radius: 15px;                    
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;    
  border-radius: 25px;       
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:hover {
  background-color: gray;    
}

/* RIGHT */

#right {
  grid-column: 2;
  margin: 1rem;
}

#map-box {
  height: 30rem;
  width: 40rem;
  border: 2px solid black;
  padding: 1px;
}

#map {
  height: 100%;
  width: 100%;
}

#route-info {
  height: 19.5rem;
  width: 40rem;
  margin-top: 2rem;
  margin-right: auto;
  border: 2px solid black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#route-title {
  font-size: 200%;
  height: 4.5rem;
}

#route-form {
  font-size: 125%;
  height: 10rem;
}

#form-left {
  width: 17%;
  float: left;
}

#form-right {
  width: 83%;
  float: right;
}

#speed {
  margin-top: 0rem;
  width: 3rem;
  height: 1.75rem;
}

#route-title {
  margin-top: 0.75rem;
}

#route-name {
  width: 15rem;
  font-weight: bold;
}

#del {
  float: right;
}

/* MOBILE */

@media (max-width: 600px) {
  #full-route-container {
    display: flex;
    flex-flow: column-reverse;
  }

  #right {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
  }

  #map-box {
    width: 100%;
    height: 20rem;
  }

  #route-info {
    margin-top: 0rem;
    width: 100%;
    height: 100%;
  }

  #form-right {
    padding-left: 2.5rem;
  }

  #left {
    margin: 0rem;
  }

  #routes {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #routes .box {
    width: 100%;
  }
}