html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

/* LEFT */

#left {
  grid-column: 1;
  margin: 1rem;
  margin-right: 0.5rem;
}

#routes {
  width: 20rem;
  height: 51rem;
  margin-left: auto;
}

.box {
  width: 20rem;
  height: 5rem;
  font-size: 150%;
}

.route-icon {
  max-width: 100%;
  max-height: 100%;
  border-radius: 30%;
  border: 2px solid black;
  padding: 5px;
  float: right;
}

/* RIGHT */

#right {
  grid-column: 2;
  margin: 1rem;
}

#map {
  height: 30rem;
  width: 40rem;
  margin-right: auto;
}

#route-info {
  margin: 1rem;
  margin-left: auto;
}

#route-name {
  font-size: 200%;
}

#route-gen, #route-user {
  font-size: 150%;
  padding-top: 1rem;
}

#speed {
  width: 2.5rem;
  margin-top: 0.4rem;
}

#name {
    width: 25rem;
    font-size: 110%;
    font-weight: bold;
}

label{
    display: inline-block;
    width: 120px;
    text-align: left;
}

li{
    display: inline;
}
